{% extends "base_generics.html" %}

{% block content %}
    <h1>Title: {{ book.title }}</h1>
    <!-- author detail is not yet defined-->
    <p><strong>Author: </strong> <a href="">{{ book.author }}</a></p>
    <p><strong>Summary: </strong>{{ book.summary }}</p>
    <p><strong>ISBN: </strong>{{ book.isbn }}</p>
    <p><strong>Language: </strong>{{ book.language }}</p>
    <p><strong>Genre: </strong>{% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>